.radio-card {
    border: 2px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
    user-select: none;
}

input[type="radio"]:checked + .radio-card {
    border-color: var(--bs-primary);
}

input[type="radio"] {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.img-weapon {
    max-width: 100px;
    min-width: 85px;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--primary-subtle);
}

@media (max-width: 576px) {
    .img-weapon {
        max-width: 80px;
    }

    .radio-card {
        padding: 1rem;
    }

    .navbar-brand span.fs-3 {
        font-size: 1.2rem !important;
    }

    .form-control-lg {
        font-size: 1rem;
        padding: 0.5rem;
    }
}
